<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Payment Proof for Order #{{orderId}}</title>
</head>
<body>
    <div>
        <p>Hi {{user}},</p>
        <p>We noticed an issue with your payment proof for Order #{{orderId}}. 
        <br/>Kindly upload a valid proof through your account ASAP. Need help? Reach out to us.</p>
        <p>Thanks, <br>Grocery Team</p>
    </div>
</body>
</html>