<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Delivered - Thank You!</title>
</head>
<body>
    <div>
        <p>Hi {{user}},</p>
        <p>Great news! Your order #{{orderId}} has been delivered. 
        <br/>We hope you love it! If you have any questions or feedback, feel free to reach out.</p>
        <p>Cheers, <br>Grocery Team</p>
    </div>
</body>
</html>
