<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Order is on the Way!</title>
</head>
<body>
    <div>
        <p>Hi {{user}},</p>
        <p>Exciting news! Your order #{{orderId}} is now on its way. Expect it soon! 🚚✨</p>
        <p>Cheers, <br>Grocery Team</p>
    </div>
</body>
</html>
