<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Received - Verification Underway</title>
</head>
<body>
    <div>
        <p>Hi {{user}},</p>
        <p>Good news! Your payment for Order #{{orderId}} is received. 
        <br/>We're currently verifying it. We'll notify you once it's confirmed. Any questions? Reach out anytime!</p>
        <p>Cheers, <br>Grocery Team</p>
    </div>
</body>
</html>
