<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Confirmed - Your Order is Processing!</title>
</head>
<body>
    <div>
        <p>Hi {{user}},</p>
        <p>Great news! Your payment for Order #{{orderId}} is confirmed, 
        <br/>and your order is now in processing. Feel free to reach out if you have any questions.</p>
        <p>Cheers, <br>Grocery Team</p>
    </div>
</body>
</html>
