<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment and Proof of Purchase Required</title>
</head>
<body>
    <div>
        <p>Hi {{user}},</p>
        <br/>
        <p>Thanks for your order with id #{{orderId}} in Grocery Store! Please complete your payment and upload the proof 
        <br/>of purchase at your earliest convenience. Once verified, we'll swiftly process your order.</p>
        <p>Feel free to contact us if you need assistance.</p>
        <p>Best, <br>Grocery Team</p>
    </div>
</body> 
</html>